<!doctype html>
<html>

<head>
  <title>Horizontal Bar Chart</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
  <script src="./utils.js"></script>
  <style>
  canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  }
  </style>
</head>

<body>
  <div id="container" style="width: 75%;">
  <canvas id="canvas"></canvas>
  </div>

  <script>

  var horizontalBarChartData = {
  labels: ["DomainLookupTime", "RedirectionTime", "ServerConnectionTime", "ServerResponseTime", "PageDownloadTime", "DOMInteractiveTime", "DOMContentLoadedTime","FrontEndTime","BackEndTime","PageLoadTime"],
  datasets: [{
  label: 'Dataset 1',
  backgroundColor: [
  'rgba(255, 99, 132, 0.2)',
  'rgba(54, 162, 235, 0.2)',
  'rgba(255, 206, 86, 0.2)',
  'rgba(75, 192, 192, 0.2)',
  'rgba(153, 102, 255, 0.2)',
  'rgba(255, 159, 64, 0.2)',
  'rgba(56, 145, 33, 0.2)',
  'rgba(224, 224, 9, 0.2)',
  'rgba(255, 0, 0, 0.2)',
  'rgba(0, 11, 212, 0.2)'
  ],
  borderColor: [
  'rgba(255,99,132,1)',
  'rgba(54, 162, 235, 1)',
  'rgba(255, 206, 86, 1)',
  'rgba(75, 192, 192, 1)',
  'rgba(153, 102, 255, 1)',
  'rgba(255, 159, 64, 1)',
  'rgba(56, 145, 33, 1)',
  'rgba(224, 224, 9, 1)',
  'rgba(255, 0, 0, 1)',
  'rgba(0, 11, 212, 1)'
  ],
  borderWidth: 1,
  data: [
  {{getDomainLookupTime}},
  {{getRedirectionTime}},
  {{getServerConnectionTime}},
  {{getServerResponseTime}},
  {{getPageDownloadTime}},
  {{getDOMInteractiveTime}},
  {{getDOMContentLoadedTime}},
  {{getFrontEndTime}},
  {{getBackEndTime}},
  {{getPageLoadTime}}
  ]
  }]

  };

  window.onload = function() {
  var ctx = document.getElementById("canvas").getContext("2d");
  window.myHorizontalBar = new Chart(ctx, {
  type: 'horizontalBar',
  data: horizontalBarChartData,
  options: {
  // Elements options apply to all of the options unless overridden in a dataset
  // In this case, we are setting the border of each horizontal bar to be 2px wide
  elements: {
  rectangle: {
  borderWidth: 2,
  }
  },
  responsive: true,
  legend: {
display: false
  },
  title: {
  display: true,
  text: 'This is a Title'
  },
tooltips: {
callbacks: {
label: function(tooltipItem, data) {
return "Time: "+tooltipItem.xLabel+" ms.";
}
}
}
  }
  });

  };

  </script>
</body>

</html>